language: ruby
dist: trusty
sudo: false
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.6
  - 2.5.5
  - 2.6.3
  - jruby-9.0.4.0
  - jruby-9.1.17.0
  - jruby-9.2.7.0
before_install:
  - gem install bundler --version '~> 1.17'
script: bundle exec rake spec
